<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABOUT</key>
	<string>Many images to test text rendering</string>
	<key>Source</key>
	<string>AVOfflineCompositionManyTextFields.plist</string>
	<key>Destination</key>
	<string>AVOfflineCompositionManyTextFields.mvid</string>
	<key>CompDurationSeconds</key>
	<integer>10</integer>
	<key>CompFramesPerSecond</key>
	<integer>30</integer>
	<key>CompWidth</key>
	<integer>256</integer>
	<key>CompHeight</key>
	<integer>256</integer>
	<key>CompBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>CompClips</key>
	<array>
		<dict>
			<key>ClipText</key>
			<string>text1</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>0</integer>
			<key>ClipWidth</key>
			<integer>50</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>text2</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>50</integer>
			<key>ClipWidth</key>
			<integer>50</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>text3</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>100</integer>
			<key>ClipWidth</key>
			<integer>50</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>text4</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>150</integer>
			<key>ClipWidth</key>
			<integer>50</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>text5</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>200</integer>
			<key>ClipWidth</key>
			<integer>50</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
