<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABOUT</key>
	<string>2 frames. First is black. Second is blue. Clip framerate is scaled to 2x normal duration. Total of 4 comp frames.</string>
	<key>Source</key>
	<string>AVOfflineCompositionTwoFrameBlackBlueScaleMovieTest.plist</string>
	<key>Destination</key>
	<string>AVOfflineCompositionTwoFrameBlackBlueScaleMovieTest.mvid</string>
	<key>CompDurationSeconds</key>
	<integer>4</integer>
	<key>CompFramesPerSecond</key>
	<integer>1</integer>
	<key>CompWidth</key>
	<integer>2</integer>
	<key>CompHeight</key>
	<integer>2</integer>
	<key>CompClips</key>
	<array>
		<dict>
			<key>ClipSource</key>
			<string>2x2_black_blue_16BPP.mvid</string>
			<key>ClipType</key>
			<string>mvid</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>0</integer>
			<key>ClipWidth</key>
			<integer>2</integer>
			<key>ClipHeight</key>
			<integer>2</integer>
			<key>ClipStartSeconds</key>
			<real>0</real>
			<key>ClipEndSeconds</key>
			<integer>4</integer>
			<key>ClipScaleFramePerSecond</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
